.BUTTON {
   background: #3DF6E3;
   background-image: -webkit-linear-gradient(top, #3DF6E3, #D0AE1E);
   background-image: -moz-linear-gradient(top, #3DF6E3, #D0AE1E);
   background-image: -ms-linear-gradient(top, #3DF6E3, #D0AE1E);
   background-image: -o-linear-gradient(top, #3DF6E3, #D0AE1E);
   background-image: -webkit-gradient(to bottom, #3DF6E3, #D0AE1E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #132743;
   font-family: Open Sans;
   font-size: 12px;
   font-weight: bold;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  font-family:sans-serif;
  font-weight: bold;
}

h1 {
  color: #66BFBF;
  font-weight:900;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-weight:bold;
}

.top-div {
  padding-top: 38px;
  background-image: linear-gradient(#0278ae,#51adcf,#51adcf,#a5ecd7);
  margin: 0;
}

.telefon {
  position: absolute;
  right: 25%;
  top: 15%;
  width: 175px;
  height: 175px;
}

.mail {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 175px;
    height: 175px;
}

.title {
  margin: 50px auto 0;
  color: #38e82c;
  width: 20%;
  font-family: 'fantasy', monospace;
  font-size: 3rem;
}

.subtitle {
  margin: 0 auto 5%;
  color: #38e82c;
  width: 20%;
  font-family: 'fantasy', monospace;
  text-align: left;
}

.sommerfugl {
  position: absolute;
  left: 30%;
  top: 55%;
  width: 75px;
  height: 75px;
}

.tree {
  width: 300px;
  height: 410px;
}
