img{

  border-radius: 42%
}

body{
  background-color: #8B4513
}

em{
  color: #FFA500
}

strong{
  color: #FF0000
}

h1{
  color: #696969
}

h2{
  color: #FFD700
}

li{
  color: #DAA520
}

form{
  color: #696969
}

input{
  color: #696969
}
